body{
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    display: table-cell;
    font-size: 15px;
    margin: auto;
    display: grid;
    background-color: aliceblue;
}

/* clearfix  */
.gifGroup:before,
.gifGroup:after {
  content: "";
  display: table;
}
.gifGroup:after {
  clear: both;
} 

.gifGroup {
  clear: both;
  margin-top: 20px;
  *zoom: 1;
}

div,form,input,label, .gif .movie{
  margin: 5px;
}

label{
  font-weight: bold;
}

#add-category{
  font-size: 15px;
}
#show-category {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    padding-top: 0px;
 }

#category-form {
    float: right;
    margin: 0;
    width: 38%;
    padding: 10px;
    padding-top: 0px;
    height:150px;
    background-color: lightblue;
}


.animal{
    background-color: lightblue;
    margin-right: 2px;
    font-size: 15px;
}
 
img{
  height: 200px;
  width: 200px;
  margin-bottom: 2px;
  
}

.ratingP{
  width: 100px;
  margin: 0px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 12px;
}


.titleP{
  width: 200px;
  margin: 0px;
  margin-left: 5px;
  font-weight: bold;
  font-size: 12px;
}

.imageview{
  width:  200px;
  height: 200px;
}

.category-Row{
  display:flex;
  flex-direction: row;
  margin: 0px;
  
}

.category-Col{
  display: flex;
  flex-direction: column;
  margin: 0px;
  border: 1px;
  border-style: solid;
  border-color: lightblue;
  border-radius: 5px;
  margin: 2px;
 
}

.gif{
  margin-bottom: 0px;
  margin-top: 0 px;
}


.movie{
  margin-bottom: 0px;
  margin-top: 0 px;
}

/*---------  980 px ----------------------------*/

@media screen and (max-width:980px){

  /*  Header  */
  category-form {
    float: right;
    margin: 0;
    width: 28%;
    padding: 10px;
    padding-top: 0px;
    height:300px;
    background-color: lightblue;
}

}


/*---------  768 px ----------------------------*/

@media screen and (max-width:768px){
  
  /*  Header  */
  category-form {
    float: left;
    margin: 0;
    width: 28%;
    padding: 10px;
    padding-top: 0px;
    height:400px;
    background-color: lightblue;
}
}